<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Password Reset</title>
    <style>
      * {
        font-family: "Poppins", sans-serif !important;
      }
    </style>
  </head>
  <body>
    <div
      class="relative bg-gray-50 overflow-hidden h-screen flex items-center justify-center"
    >
      <div
        class="hidden sm:block sm:absolute sm:inset-y-0 sm:h-full sm:w-full"
        aria-hidden="true"
      >
        <div class="relative h-full max-w-7xl mx-auto">
          <svg
            class="absolute right-full transform translate-y-1/4 translate-x-1/4 lg:translate-x-1/2"
            width="404"
            height="784"
            fill="none"
            viewBox="0 0 404 784"
          >
            <defs>
              <pattern
                id="f210dbf6-a58d-4871-961e-36d5016a0f49"
                x="0"
                y="0"
                width="20"
                height="20"
                patternUnits="userSpaceOnUse"
              >
                <rect
                  x="0"
                  y="0"
                  width="4"
                  height="4"
                  class="text-gray-200"
                  fill="currentColor"
                />
              </pattern>
            </defs>
            <rect
              width="404"
              height="784"
              fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"
            />
          </svg>
          <svg
            class="absolute left-full transform -translate-y-3/4 -translate-x-1/4 md:-translate-y-1/2 lg:-translate-x-1/2"
            width="404"
            height="784"
            fill="none"
            viewBox="0 0 404 784"
          >
            <defs>
              <pattern
                id="5d0dd344-b041-4d26-bec4-8d33ea57ec9b"
                x="0"
                y="0"
                width="20"
                height="20"
                patternUnits="userSpaceOnUse"
              >
                <rect
                  x="0"
                  y="0"
                  width="4"
                  height="4"
                  class="text-gray-200"
                  fill="currentColor"
                />
              </pattern>
            </defs>
            <rect
              width="404"
              height="784"
              fill="url(#5d0dd344-b041-4d26-bec4-8d33ea57ec9b)"
            />
          </svg>
        </div>
      </div>
      <div class="relative pt-6 pb-16 sm:pb-24">
        <div>
          <main class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24">
            <div class="text-center">
              <h1
                class="text-4xl mb-16 tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl"
              >
                <span class="block xl:inline">Reset Password</span>
              </h1>
              <form
                class="mt-6"
                method="POST"
                action="/api/user/password/reset"
                enctype="application/x-www-form-urlencoded"
              >
                <input name="token" type="hidden" value="<%= token %>" />
                <div class="flex items-center relative">
                  <label
                    for="password"
                    class="text-sm min-w-[150px] font-medium text-gray-700 mr-2"
                    >Password</label
                  >
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="mt-1 h-[34px] pr-[40px] focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-10 sm:text-sm border border-gray-300 rounded-md"
                  />
                  <div
                    class="absolute inset-y-0 right-0 pr-3 flex items-center"
                  >
                    <button
                      type="button"
                      id="togglePassword"
                      class="text-gray-400 focus:outline-none absolute right-2 top-3"
                      onclick="togglePasswordVisibility()"
                    >
                      👁️
                    </button>
                  </div>
                </div>
                <div class="mt-4 flex items-center relative">
                  <label
                    for="confirm_password"
                    class="block text-sm mr-2 min-w-[150px] text-left font-medium text-gray-700"
                    >Confirm Password</label
                  >
                  <input
                    type="password"
                    name="confirm_password"
                    id="confirm_password"
                    class="mt-1 h-[34px] border pr-[40px] focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                  />
                </div>
                <div class="mt-6">
                  <button
                    type="submit"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                  >
                    Reset Password
                  </button>
                </div>
              </form>
              <% if (error) { %>
              <p
                class="mt-3 max-w-md mx-auto text-base text-red-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl"
              >
                <%= error %>
              </p>
              <% } %>
            </div>
          </main>
        </div>
      </div>
    </div>
    <script>
      function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        var toggleButton = document.getElementById("togglePassword");

        if (passwordInput.type === "password") {
          passwordInput.type = "text";
          toggleButton.textContent = "👁️";
        } else {
          passwordInput.type = "password";
          toggleButton.textContent = "👁️";
        }
      }
    </script>
  </body>
</html>
